@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000; /* Cambiar a negro */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F5F5;
    --foreground: #000000; /* Cambiar a negro en modo oscuro */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
